html{
	background-color:#676b72;
	height:100%;
	width:100%;

}
head{
	background-color:#3965b2;
	width:100%;

}
body{
	background-color:#676b72;
	height:100%;
	width:100%;

}
.readPanel{
	padding:4%;
	padding-left:2%;
	float:5%;
	background-color:#4d5d77;
	border-radius:25px;
}
der{
	 font-weight:bold;
	 font-size:150%
 }
#InputText{
	width:70%;
	background-color:#a5b3c9;
}
input[type=text]{
	background-color:#a5b3c9;
	
}